<!DOCTYPE HTML>
<html>
  <head>
    <title>Elm Counter Sample</title>
    <link rel="shortcut icon" sizes="16x16 32x32 48x48 64x64 128x128 256x256" href="https://cdn.glitch.com/481d3c12-618d-411a-a813-13483e545efb%2Ffavicon.ico?1508473796654">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/elm.js"></script>
  </head>
  
  <body>
    <main></main>
    <script type="text/javascript">
      var main = Elm.Main.init({ node: document.querySelector('main') });
    </script>
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>