
#footer {
  color: #a6a6a6;
  margin: 10px auto 0;
  font-size: 16px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  text-align: center;
  /*line-height: 1em; */
}
#footer a {
  color: inherit;
}
.matched {
  background-color: DarkGreen;
  font-size: 20px;
  color: palegoldenrod;
}
#title { 
  text-align: center;
  background-color: beige;
}
.hayTitle { 
  font-size: 9px;
}
.hayKey { 
  font-style: italic; 
  font-size: 8px;
}
.matched .hayTitle { 
  font-style: oblique;
  font-size: 12px;
}
.matched .hayKey { 
  font-size: 12px; 
  /*background-color: yellow;*/
  background-color: green;
}
.matched .hayKey a { 
  /*background-color: yellow;*/
  color: lemonchiffon;
}

#apiString { 
  font-size: 10px;
}
#error { 
  background-color: papayawhip;
}
#error.failed { 
  background-color: darkorange;
}

#darkButtonDiv { 
  text-align: center;
}

.dark {
  background-color: rgb(30,34,39);
  color: #fff;
}
.dark li { background: #282c34}
.dark #title { background: #282c34; } 
.dark #error { background-color: DarkGray} 

span {
    padding:5px; 
    display:block;
}
