#footer {
  color: #a6a6a6;
  margin: 10px auto 0;
  font-size: 16px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  text-align: center;
  /*line-height: 1em; */
}

#footer a {
  color: inherit;
}

.matched {
  background-color: darkorange;
}